<template>

    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
        <div class="slds-modal__container"> 
            
            <header class="slds-modal__header">
                
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={CloseAssignModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
           
           

                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
                    <!-- <div class="ny_card_header ny_card_header--dark"> -->
                        <b class="heading">Table</b>
                    <!-- </div> -->
                </h2>
            
                
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <template if:true={showSpinner}>
                    <div class="backdrop">
                        <div class="spinner">
                            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                        </div>
                    </div>
                </template>

                <div class="slds-grid slds-wrap slds-gutters slds-var-p-bottom_large">


                    <div class="slds-col slds-size_3-of-6">
                        <lightning-input label="Search" name="caseMonitoringSearch" type='search' placeholder="Search "
                            onchange={handleCaseMonitoringSearch} value={obj.caseMonitoringSearch}>
                        </lightning-input>
                    </div>
                <div class="slds-p-around_small">
                    <div class="slds-wrap slds-gutters">
                        <table aria-multiselectable="true"
                            class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols"
                            role="grid">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <template for:each={columns} for:item="item" for:index="index">
                                        <th key={item.fieldName} aria-label={item.label} aria-sort="none"
                                            class="slds-is-resizable slds-is-sortable" scope="col">
                                            <a class="slds-th__action slds-text-link_reset" href="#" role="button"
                                                tabindex="0" data-fieldname={item.fieldName} onclick={handleSort}>
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div
                                                    class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-cell-wrap" title={item.label}>{item.label}</span>
                                                    <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                        <template if:true={item.sortable}>
                                                            <template if:false={item.sorted}>
                                                                <lightning-icon class="sort_up" icon-name="utility:sort"
                                                                    size="xx-small"></lightning-icon>
                                                            </template>
                                                            <template if:true={item.sorted}>
                                                                <template if:true={item.sortedAscending}>
                                                                    <lightning-icon class="sort_down"
                                                                        icon-name="utility:arrowdown" size="xx-small">
                                                                    </lightning-icon>
                                                                </template>
                                                                <template if:false={item.sortedAscending}>
                                                                    <lightning-icon class="sort_down"
                                                                        icon-name="utility:arrowup" size="xx-small">
                                                                    </lightning-icon>
                                                                </template>
                                                            </template>
                                                        </template>
                                                    </span>
                                                </div>
                                            </a>
                                        </th>
                                    </template>
                                </tr>
                            </thead>
                            <tbody>

                                <template for:each={visibleList} for:item="user" for:index="index">
                                    <tr class={user.rowSelected} key={user.Id} data-id={user.Id}>
                                        <td key={user.Id} role="gridcell">
                                            <input type="radio" name="rad" data-id={user.Id} data-name={user.name}
                                                onclick={handleSelectedRow}></input>
                                        </td>
                                        <td key={user.Id} role="gridcell">
                                            <div class="slds-truncate" title={user.name}>{user.name}</div>
                                        </td>            
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
               
            </div>
            <footer class="slds-modal__footer slds-modal__footer_directional">
                    <lightning-button  variant="neutral" label="Back" title="Back"  onclick={close} ></lightning-button>
            </footer>
        </div>
    </section>

    <div class="slds-backdrop slds-backdrop_open"></div>
</template>